.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fields {
  background-color: #fefefe;
  border-radius: 6px;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: dotted 1px rgb(37, 12, 12);
  margin-top: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 30%;
}

.habijabi {
  display: flex;
  flex-direction: row;
}

label {
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: vertical;
  padding: 10px;
}

input[type="number"] {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
}

.upload {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40px;
  width: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

/* .reset1 {
  margin-left: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 80px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
} */

.upload:hover {
  color: #4caf50;
  background-color: #ffffff;
}

.reset1:hover {
  color: #4caf50;
  background-color: #ffffff;
}

.documents table {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
}

.documents th,
.documents td {
  border: 1px solid #000;
  padding: 8px;
}

.documents td {
  position: relative;
  border: 1px solid #000;
  padding: 4px; /* Adjust the padding as desired */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 12px; /* Adjust the font size as desired */
}

.documents th {
  background-color: rgb(84, 178, 210);
  font-size: 14px; /* Adjust the font size as desired */
}

.documents tr:nth-child(even) {
  background-color: #f9f9f9;
}

.documents tr:hover {
  background-color: #ddd;
}

.documents th {
  background-color: rgb(84, 178, 210);
  font-size: 14px; /* Adjust the font size as desired */
}

th {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f5f5f5;
}

thead th {
  background-color: rgb(84, 178, 210);
  font-size: 14px; /* Adjust the font size as desired */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit,
.delete {
  padding: 8px; /* Adjust the padding as desired */
  margin: 0;
  font-size: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s; /* Adjust the font size as desired */
}

.edit {
  background-color: #4caf50;
  color: white;
}

.delete {
  background-color: #f44336;
  color: white;
}

.deletereq {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50px;
  width: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.document-list-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.document-list-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 20px;
}

.add-document-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.add-document-button .link{
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;


}
.add-document-button button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.add-document-button button:hover {
  background-color: #45a049;
}

.add-document-button button:active {
  background-color: #3c903b;
  transform: translateY(1px);
}

.documents td:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  color: #000;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
  z-index: 1;
}

.progress-bar {
  width: 0;
  height: 10px;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
  color: white;
  font-weight: bold;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.table-container.collapsed table tbody tr.collapsed-row {
  display: none;
}

.table-container.collapsed table tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the max-width as per your requirement */
}

.table-container {
  transition: height 0.3s ease;
  overflow: hidden;
  position: relative;
}

.table-container.expanded {
  height: auto;
}

.expand-button,
.collapse-button {
  position: relative; /* Change from fixed to relative */
  text-align: center;
}
.expand-button.hidden,
.collapse-button.hidden {
  opacity: 0;
}

button.expand-collapse-button {
  color: rgb(171, 118, 6);
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0px;
}

button.expand-collapse-button:hover {
  background-color: whitesmoke;
  color: rgb(164, 0, 0);
  filter: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.expand-collapse-button.collapsed::before,
.expand-collapse-button.expanded::before {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(28, 27, 27);
  width: 10px;
  height: 2px;
  border-radius: 1px;
  transition: transform 0.3s ease;
}

.expand-collapse-button.collapsed::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.expand-collapse-button.expanded::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}